@media (min-width:300px) and (max-width: 1199px) {
    .entradas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background: rgb(6, 15, 5);
        background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);

        h2 {
            text-align: center;
            color: black;
            font-family: "Anton";
            font-size: 2.5rem;
            height: 50px;
            width: 500px;
            max-width: 100%;
            max-height: 100%;
            text-shadow: -2px 0px 0 rgb(114, 165, 114);
            justify-self: center;
            padding: 10px;
            margin: 50px 0px 50px 0px;
            align-self: center;
            position: relative;
            animation-name: nav-move;
            animation-duration: 5s;
        }

        @keyframes nav-move {
            0% {
                left: 0px
            }

            25% {
                left: 100px
            }

            50% {
                left: 0px
            }

            75% {
                left: -100px
            }

            100% {
                left: 0px;
            }
        }

        &-foto{
            width: 90%;
            height: auto;
            overflow: hidden;
            align-self: center;
            img{
                width: 100%;
                height: auto;
            }
        }
    }

}

@media (min-width:1200px) {
    .entradas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background: rgb(6, 15, 5);
        background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);

        h2 {
            text-align: center;
            color: black;
            font-family: "Anton";
            font-size: 2.5rem;
            height: 50px;
            width: 500px;
            max-width: 100%;
            max-height: 100%;
            text-shadow: -2px 0px 0 rgb(114, 165, 114);
            justify-self: center;
            padding: 10px;
            margin: 50px 0px 50px 0px;
            align-self: center;
            position: relative;
            animation-name: nav-move;
            animation-duration: 5s;
        }

        @keyframes nav-move {
            0% {
                left: 0px
            }

            25% {
                left: 100px
            }

            50% {
                left: 0px
            }

            75% {
                left: -100px
            }

            100% {
                left: 0px;
            }
        }

        &-foto{
            width: 80%;
            height: auto;
            overflow: hidden;
            align-self: center;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}