/* VERSIÓN MOBILE - VERSIÓN MOBILE - VERSIÓN MOBILE */
/* VERSIÓN MOBILE - VERSIÓN MOBILE - VERSIÓN MOBILE */
/* VERSIÓN MOBILE - VERSIÓN MOBILE - VERSIÓN MOBILE */
@media (min-width:300px) and (max-width: 479px) {
    .futbol {
        // background-color: #F2F2F2;
        background: rgb(6, 15, 5);
        background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        /* BARRA DE NAVEGACION FUTBOL - BARRA DE NAVEGACION FUTBOL - BARRA DE NAVEGACION FUTBOL */
        &-nav {
            background-color: $color-primario;
            position: sticky;
            border: solid black 5px;
        }

        h2 {
            text-align: center;
            color: $color-secundario;
            font-family: "Anton";
            font-size: 2.5rem;
            height: 100px;
            width: 500px;
            max-width: 100%;
            max-height: 100%;
            text-shadow: -2px 0px 0 rgb(114, 165, 114);
            justify-self: center;
            padding: 10px;
            margin: 50px 0px 50px 0px;
            align-self: center;
        }

        /* SECTION PLANTEL - SECTION PLANTEL - SECTION PLANTEL - SECTION PLANTEL - SECTION PLANTEL */
        &-plantel-y-staff {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            /* ESTILO DE  NOMBRE Y POCISION DE JUGADORES */
            h3 {
                color: $color-primario;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
            }

            h4 {
                color: $color-primario;
                font-size: 1.3rem;
                font-weight: bold;
                font-style: italic;
                text-align: center;
                text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
            }

            &-jugadores {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(300px, 14);
                gap: 25px 0px;
                justify-content: center;
                align-content: center;
                justify-items: center;
            }

            &-cuerpo-tecnico {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(300px, 3);
                gap: 25px 0px;
                justify-content: center;
                align-content: center;
                justify-items: center;
            }
        }

        /* SECCIÓN TABLA DE POSICIONES - SECCIÓN TABLA DE POSICIONES - SECCIÓN TABLA DE POSICIONES */
        &-tabla {
            // background-color: $color-primario;
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            border: solid 5px black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;

            &-foto {
                max-width: 100%;
                max-height: 100%;
                box-shadow: 10px 10px 10px black;
            }
        }

        &-fixture {
            // background-color: $color-primario;
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            border: solid 5px black;
            border-top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;

            &-foto img {
                max-width: 100%;
                max-height: 100%;
                box-shadow: 10px 10px 10px black;
            }
        }
    }
}

/* VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET */
/* VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET */
/* VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET */
@media (min-width:480px) and (max-width: 1199px) {
    .futbol {
        // background-color: #F2F2F2;
        background: rgb(6, 15, 5);
        background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        /* BARRA DE NAVEGACION FUTBOL - BARRA DE NAVEGACION FUTBOL - BARRA DE NAVEGACION FUTBOL */
        &-nav {
            background-color: $color-primario;
            position: sticky;
            border: solid black 5px;
        }

        h2 {
            text-align: center;
            color: $color-secundario;
            font-family: "Anton";
            font-size: 2.5rem;
            height: 80px;
            width: 500px;
            text-shadow: -2px 0px 0 rgb(114, 165, 114);
            justify-self: center;
            padding: 10px;
            margin: 10px 0px 10px 0px;
            align-self: center;
        }

        /* SECTION PLANTEL - SECTION PLANTEL - SECTION PLANTEL - SECTION PLANTEL - SECTION PLANTEL */
        &-plantel-y-staff {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            /* ESTILO DE  NOMBRE Y POCISION DE JUGADORES */
            h3 {
                color: $color-primario;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
            }

            h4 {
                color: $color-primario;
                font-size: 1.3rem;
                font-weight: bold;
                font-style: italic;
                text-align: center;
                text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
            }

            /* GRID DE JUGADORES DEL PLANTEL */
            &-jugadores {
                margin: 50px 0px 50px 0px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(300px, 14);
                gap: 25px 0px;
                justify-content: center;
                align-content: center;
                justify-items: center;

                &-carta-impar {
                    grid-column: 1/3;
                }
            }

            /* GRID DE CUERPO TECNICO DEL PLANTEL */
            &-cuerpo-tecnico {
                margin: 50px 0px 50px 0px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(300px, 3);
                gap: 25px 0px;
                justify-content: center;
                align-content: center;
                justify-items: center;

                &-carta-impar {
                    grid-column: 1/3;
                }
            }
        }

        /* SECCIÓN TABLA DE POSICIONES - SECCIÓN TABLA DE POSICIONES - SECCIÓN TABLA DE POSICIONES */
        &-tabla {
            padding: 50px 0px 50px 0px;
            box-sizing: border-box;
            // background-color: $color-primario;
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            border: solid 5px black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;

            &-foto {
                max-width: 100%;
                max-height: 100%;
                box-shadow: 10px 10px 10px black;
            }
        }

        /* SECCIÓN FIXTURE - SECCIÓN FIXTURE - SECCIÓN FIXTURE - SECCIÓN FIXTURE */
        &-fixture {
            padding: 50px 0px 50px 0px;
            box-sizing: border-box;
            // background-color: $color-primario;
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            border: solid 5px black;
            border-top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;

            &-foto img {
                max-width: 100%;
                max-height: 100%;
                box-shadow: 10px 10px 10px black;
            }
        }
    }
}

/* VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO */
/* VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO */
/* VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO */
@media (min-width:1200px) {
    .futbol {
        // background-color: #F2F2F2;
        background: rgb(6, 15, 5);
        background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;

        /* BARRA DE NAVEGACION FUTBOL - BARRA DE NAVEGACION FUTBOL - BARRA DE NAVEGACION FUTBOL */
        &-nav {
            background-color: $color-primario;
            position: sticky;
            border: solid black 5px;
            font-size: 1.3rem;
            width: 80vw;
            align-self: center;
        }

        h2 {
            text-align: center;
            color: $color-secundario;
            font-family: "Anton";
            font-size: 2.5rem;
            height: 80px;
            width: 500px;
            text-shadow: -2px 0px 0 rgb(114, 165, 114);
            justify-self: center;
            padding: 10px;
            margin: 10px 0px 10px 0px;
            align-self: center;
            position: relative;
            animation-name: nav-move;
            animation-duration: 5s;
        }

        @keyframes nav-move {
            0% {
                left: 0px
            }

            25% {
                left: 100px
            }

            50% {
                left: 0px
            }

            75% {
                left: -100px
            }

            100% {
                left: 0px;
            }
        }

        /* SECTION PLANTEL - SECTION PLANTEL - SECTION PLANTEL - SECTION PLANTEL - SECTION PLANTEL */
        &-plantel-y-staff {
            display: flex;
            flex-direction: column;

            h3 {
                color: $color-primario;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
            }

            h4 {
                color: $color-primario;
                font-size: 1.3rem;
                font-weight: bold;
                font-style: italic;
                text-align: center;
                text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
            }

            /* GRID DE CUERPO TECNICO DEL PLANTEL */
            &-jugadores {
                margin: 50px 0px 50px 0px;
                display: grid;
                grid-template-columns: repeat(5, 200px);
                grid-template-rows: repeat(300px, 5);
                gap: 100px 50px;
                justify-content: center;
            }

            /* GRID DE CUERPO TECNICO DEL PLANTEL */
            &-cuerpo-tecnico {
                margin: 50px 0px 50px 0px;
                display: grid;
                grid-template-columns: repeat(5, 200px);
                gap: 100px 50px;
                justify-content: center;
            }
        }

        /* SECCIÓN TABLA DE POSICIONES - SECCIÓN TABLA DE POSICIONES - SECCIÓN TABLA DE POSICIONES */
        &-tabla {
            padding: 50px 0px 50px 0px;
            box-sizing: border-box;
            // background-color: $color-primario;            
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            border: solid 5px black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;

            &-foto {
                max-width: 100%;
                max-height: 100%;
            }
        }

        /* SECCIÓN FIXTURE - SECCIÓN FIXTURE - SECCIÓN FIXTURE - SECCIÓN FIXTURE */
        &-fixture {
            padding: 50px 0px 50px 0px;
            box-sizing: border-box;
            // background-color: $color-primario;
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            border: solid 5px black;
            border-top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;

            &-foto img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}