// VERSION MOBILE - VERSION MOBILE - VERSION MOBILE
// VERSION MOBILE - VERSION MOBILE - VERSION MOBILE
// VERSION MOBILE - VERSION MOBILE - VERSION MOBILE
@media (min-width:300px) and (max-width: 479px) {
    .main {
        // background-color: $color-primario;
        background: rgb(6, 15, 5);
        background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
        width: 100vw;
        left: 0px;

        // SUBTITULO
        h2 {
            font-size: 2.5rem;
        }

        // SECCION DESTACADOS
        &-destacados {
            // background-color: $color-primario;
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            // CARRUSEL
            .carousel-item {
                .carousel-caption {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                h4 {
                    font-size: 35px;
                    font-family: "Kapra-Bold";
                    text-transform: uppercase;
                    color: white;
                    font-weight: bold;
                    text-shadow: 3px 3px 0 rgb(0, 0, 0);
                }

                p {
                    display: none;
                }

                .boton-leer-mas {
                    align-self: center;
                    font-size: 1rem;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    width: 150px;
                    height: 30px;
                    border-radius: 20%;
                    margin: 10px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color-secundario;
                    background-color: $color-primario;
                    box-sizing: border-box;
                    border: solid 5px black;
                }
            }
        }

        /* PROXIMOS PARTIDOS */
        &-proximos-partidos {
            margin: 40px 0px 0px 0px;
            // background-color: $color-primario;
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            // DESAPARECE LAS 3 IMAGENES
            &-imagenes {
                display: none;
            }

            // CARRUSEL
            &-carrusel {
                width: 100vw;
                padding: 15%;
            }
        }

        // SECCION NOTICIAS
        &-noticias {
            margin: 40px 0px 0px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            // AREA CON NOTICIAS Y TABLA
            &-area {
                margin: 10px;
                width: 99vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: space-evenly;
                align-items: center;
                gap: 10px;

                // TABLA
                &-tabla {
                    min-width: 300px;
                    box-sizing: border-box;

                    img {
                        box-shadow: 10px 10px 10px black;
                    }
                }
            }
        }

        &-palmares {
            background-color: #F1F3F2;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &-trofeos {
                width: 99vw;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 10px;
                text-align: center;
                font-size: 1.875rem;
                box-sizing: border-box;
            }
        }
    }
}

/* VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET  */
/* VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET  */
/* VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET - VERSIÓN TABLET  */
@media (min-width:480px) and (max-width: 1199px) {
    .main {
        // background-color: $color-primario;        
        background: rgb(6, 15, 5);
        background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
        width: 100vw;
        left: 0px;

        // SUBTITULO
        h2 {
            font-size: 2.5rem;
        }

        // SECCION DESTACADOS
        &-destacados {
            // background-color: $color-primario;
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            // CARRUSEL
            .carousel-item {
                .carousel-caption {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                h4 {
                    font-size: 35px;
                    font-family: "Kapra-Bold";
                    text-transform: uppercase;
                    color: white;
                    font-weight: bold;
                    text-shadow: 3px 3px 0 rgb(0, 0, 0);
                }

                p {
                    display: none;
                }

                .boton-leer-mas {
                    align-self: center;
                    font-size: 1rem;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    width: 150px;
                    height: 30px;
                    border-radius: 20%;
                    margin: 10px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color-secundario;
                    background-color: $color-primario;
                    box-sizing: border-box;
                    border: solid 5px black;
                }
            }
        }

        /* PROXIMOS PARTIDOS */
        &-proximos-partidos {
            margin: 40px 0px 0px 0px;
            // background-color: $color-primario;
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            // DESAPARECE LAS 3 IMAGENES
            &-imagenes {
                display: none;
            }

            // CARRUSEL
            &-carrusel {
                width: 100vw;
                padding: 15%;
            }
        }

        // SECCION NOTICIAS
        &-noticias {
            margin: 40px 0px 0px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            // AREA CON NOTICIAS Y TABLA
            &-area {
                margin: 10px;
                width: 99vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: space-evenly;
                align-items: center;
                gap: 10px;

                // TABLA
                &-tabla {
                    min-width: 300px;
                    box-sizing: border-box;

                    img {
                        box-shadow: 10px 10px 10px black;
                    }
                }
            }
        }

        &-palmares {
            background-color: #F1F3F2;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &-trofeos {
                width: 99vw;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 10px;
                text-align: center;
                font-size: 1.875rem;
                box-sizing: border-box;
            }
        }
    }
}

/* VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO */
/* VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO */
/* VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO */
@media (min-width:1200px) {
    .main {
        // background-color: $color-primario;
        background: rgb(6, 15, 5);
        background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
        width: 100vw;
        left: 0px;

        h2 {
            font-size: 2.5rem;
        }

        &-destacados {
            // background-color: $color-primario;
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            // height: 800px;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-repeat: no-repeat;

            // background-size: cover;
            // CARRUSEL            
            .carousel-inner {
                width: 100vw;
                margin: 0;
                padding: 0;
            }

            .carousel-item {
                .carousel-caption {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                h4 {
                    font-size: 45px;
                    font-family: "Kapra-Bold";
                    text-transform: uppercase;
                    color: white;
                    font-weight: bold;
                    text-shadow: 3px 3px 0 rgb(0, 0, 0);
                }

                p {
                    font-size: 30px;
                    font-family: "Kapra-Bold";
                    color: white;
                    font-weight: bold;
                }

                .boton-leer-mas {
                    font-size: 1.25rem;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    width: 130px;
                    height: 70px;
                    border-radius: 15%;
                    margin: 10px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color-secundario;
                    background-color: $color-primario;
                    box-sizing: border-box;
                    border: solid 5px black;
                }
            }
        }

        &-proximos-partidos {
            margin: 40px 0px 0px 0px;
            // background-color: $color-primario;
            background: rgb(6, 15, 5);
            background: linear-gradient(270deg, rgba(6, 15, 5, 1) 0%, rgba(18, 120, 26, 1) 41%, rgba(58, 136, 8, 1) 100%);
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &-imagenes {
                width: 100vw;
                display: flex;
                justify-content: space-around;
            }

            &-carrusel {
                display: none;
            }
        }

        &-noticias {
            margin: 40px 0px 0px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            &-area {
                margin: 10px;
                width: 99vw;
                height: 850px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, minmax(350px, 40vh));
                gap: 10px;
                align-items: center;
                justify-items: center;
                justify-content: center;
                align-content: center;

                &-tabla {
                    grid-column: 3/4;
                    grid-row: 1/3;

                    img {
                        box-shadow: 10px 10px 10px black;
                    }
                }
            }
        }

        /* PALMARES */
        &-palmares {
            background-color: #F1F3F2;
            height: 400px;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            &-trofeos {
                width: 99vw;
                height: 220px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;
                font-size: 1.875rem;
                box-sizing: border-box;
            }
        }
    }
}