.boton-leer-mas {
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 130px;
    height: 70px;
    border-radius: 15%;
    margin: 10px;
    text-align: center;
    @include flex-center();
    color: $color-secundario;
    background-color: $color-primario ;
    box-sizing: border-box;
    border: solid 5px $color-secundario;
}

.carousel-control-next-icon{
    background-image: url("/pictures/flechader.png"); 
    width: 50px;
    height: 50px;
}
.carousel-control-prev-icon{
    background-image: url("/pictures/flechaizq.png");
    width: 50px;
    height: 50px; 
}