@media (min-width: 300px) and (max-width: 1199px){
    .footer{
        box-sizing: border-box;
        background-color:rgba(16,16,16,255);
        height: 800px ;
        width: 100vw;
        display: grid;
        grid-template-rows: 400px 1fr 1fr;
        justify-items: center;
        align-items: center;
        &-mapa{
            border: solid $color-primario 5px;
            width: 300px;
            height: 300px;    
        }
        &-barra{
            width: 100vw;
            color: $color-primario;
            font-size: 1.0rem;
            font-weight: bold;
            margin: 10px 0px 10px 0px;
            padding: 10px;
            text-align: center;
            box-sizing: border-box;
            display: inline-block;
            display: flex;
            justify-content: space-evenly;
            gap: 5px;
        }
        &-rrss{
            width: 100vw;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}
/* VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO - VERSIÓN ESCRITORIO */
@media (min-width: 1200px) {
    .footer{
        background-color:rgba(16,16,16,255);
        height: 400px ;
        width: 100vw;    
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-mapa{
            border: solid $color-primario 5px;
            width: 300px;
            height: 300px;
        }
        &-barra{        
            color: $color-primario;
            font-size: 1.3rem;
            font-weight: bold;
            margin: 10px;
            text-align: center;
            box-sizing: border-box;
            display: inline-block;
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }
        &-rrss{
            width: 70px;
            height: 300px;
            justify-self: end;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
}